.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 2rem 3.5rem 2rem;
  text-align: center;
}

.title__1 {
  color: var(--veryDarkBlue);
  font-size: 1.5rem;
  font-weight: 200;
}

.title__2 {
  color: var(--veryDarkBlue);
  font-size: 1.5rem;
  font-weight: 600;
  margin: .9rem 0;
}

.text {
  color: var(--grayishBlue);
  font-size: 1.rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  max-width: 298px;
}

@media screen and (min-width: 1200px) {
  .presentation {
    margin-top: 6rem;
  }

  .title__1 {
    font-size: 2.2rem;
  }

  .title__2 {
    font-size: 2.2rem;
  }

  .text {
    max-width: 500px;
  }
}